{% extends 'mainForm/base.html' %}

{% block content %}
    {% include 'mainForm/sidebar.html' %}


        <form method="POST" class="post-form">{% csrf_token %}
            <div class="centered small shadowed" id="pickDate">
                <div id="datepicker"></div>
                <button type="button" id="nextButton" class="save btn btn-default">Next</button>
                <ul class="errorlist" id="dateError">
                    <li>No date was selected. Please select a date range before continuing</li>
                </ul>
            </div>
            <div class="centered right small shadowed" id="pigEntry">
                <div id="backButton" class="back">Back</div>
                {% for form in formset %}

                    {% for field in form %}

                        {% if not field.disabled %}
                            <p class="input">
                                {{ field.errors }}
                                {{ field }} 
                                
                                    <label for="{{ field.id_for_label }}" class="noselect">
                                        <span>{{ field.label }}</span>
                                    </label>
                            
                            </p>
                            
                        {% else %}
                            <p class="input hidden">
                                {{ field.errors }}
                                {{ field }} 
                            </p>
                        {% endif %}

                    {% endfor %}
                {% endfor %}
                <button type="submit" class="save btn btn-default">Save</button>
            </div>
            
        </form>
    </div>
    <script>
        $( function() {
            $( "#datepicker" ).multiDatesPicker({
                altField: '#id_entry_date',
                mode: 'daysRange',
                autoselectRange: [0,14],
            });
            $("#nextButton").click(function(){
                var dates = $('#datepicker').multiDatesPicker('getDates');
                if(dates.length > 0){
                    loadDates();
                    $("#pigEntry").removeClass("right");
                    $("#dateError").css("visibility", "hidden");
                }
                else{
                    $("#dateError").css("visibility", "visible");
                }
            });
            $("#backButton").click(function(){
                $("#pigEntry").addClass("right");
            })

            function loadDates(){
                var dates = $('#datepicker').multiDatesPicker('getDates');
                var dateElms = $('.dateInput');
                for(var i = 0; i<dateElms.length; i++){
                    var label = $('label[for="' + dateElms[i].id + '"]');
                    var span = label.find("span");
                    span.text(dates[i]);
                    dateElms.val(dates[i]);
                   //console.log(span);
                }
            }

        } );

        
    </script>
{% endblock %}
