{% extends 'mainForm/base.html' %}

{% block content %}
    {% include 'mainForm/sidebar.html' %}
 <div class="centered" id="submissions">
    <table>
        <thead>
            <tr>
                <td>
                {% for date in dates %}
                    <td>{{date|date:"M d"}}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for flow in submissions %}
                <tr class="flow">
                    <td>{{flow.0}}</td>
                </tr>
                {% for farm in flow.1 %}
                    <tr>
                        <td> {{farm.0}}</td>
                        
                        {% for farm_submission in farm.1%}
                            <td>{{farm_submission.0.number_of_pigs}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
 </div>
{% endblock %}