{% extends 'mainForm/base.html' %}
{% block title %}Submissions{% endblock %}
{% load static %}
{% block content %}
{% include 'mainForm/sidebar.html' %}
 <div class="centered" id="submissions">
     <div class="centered shadowed"></div>
    <h1> Sow Farm Numbers</h1>
    <table>
        <thead>
            <tr>
                <td>
                {% for date in dates %}
                    <td>{{date|date:"m/d"}}</td>
                {% endfor %}
                <td></td> <!--Arrow Column Placeholder-->
            </tr>
        </thead>
        <tbody>
            {% for flow in submissions %}
                <tr class="flow" id="{{flow.0}}">
                    <td>{{flow.0}}</td>
                    {% for total in flow.2 %}
                        <td>
                            {{total}} 
                        </td>            
                    {% endfor %}
                    <td> <image src="{% static 'images/arrow-right.png' %}"></td> <!--Arrow-->
                </tr>
                {% for farm in flow.1 %}
                    <tr class="{{flow.0}}">
                        <td class = "collapsable"> <div>{{farm.0}}</div></td>
                        
                        {% for farm_submission in farm.1%}
                            <td class = "collapsable"><div>{{farm_submission.0.number_of_pigs}}</div></td>
                        {% endfor %}
                        <td class="collapsable"><div></div></td> <!--Arrow Column Placeholder-->
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
 </div>

 <script>
     $(".flow").each(function(){
        this.onclick = function(){
            $("."+this.id).each(function(){
                $(this).toggleClass("active");
            });
            $(this).toggleClass("active");
        }
     });
 </script>
{% endblock %}